body {
  background-color:#E9FFE9 !important;
}

canvas {

  margin-top: 10px;
  border: solid;
  border-color: #91B292;
}

.btn {
  width: 100%;
}

#canvas {
  border-radius: 5px;
  background-color: #CCB7A6;
}

#uploader {
  margin-top: 50px;
}

#first-col {
  width: 100%;
  text-align:center;
  border-radius: 5px;
}

#control-panel {
  float: none;
  margin: 0 auto;
  background-color: #D9CFFF;
  border-radius: 5px
}

#canvas-preview {
  width: 100%;
  border-radius: 5px;
}

#messages {
  font-family: 'Acme', sans-serif;
  font-size: 28px;
  text-emphasis-color: #B2A59A;
}